.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.LogoImg{
  float:left ;
  height: 100px;

}
.loginClass{
  margin-right: 50px;
  text-align: right;
}

.homeClass{
  height: 80vh;
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(180deg, white 50%, #dfe7fd 50%);

}
@keyframes swing {
  0% { transform: scale(2); }
  100% { transform: scale(1); }
}
.dangle {
  animation: swing ease-in 1s forwards;

}
.homeText{
  padding-top: 25vh;
  font-weight: bold;
  letter-spacing: 2px;
  
}

.navbarClass{
  background-color: whitesmoke;
  width: 85%;
  margin-right: 0;
  margin-left: auto;
}

.navbarClassHome{
  background-color: whitesmoke;
  width: 100%;
  margin-right: 0;
  margin-left: auto;
}
.IITText{
  font-weight: bold;
  letter-spacing: 2px;
}

.photo {
  height: 60px;
  width: 60px;
  margin-left: 20px;
}

/* //DashboardTable */
/* .app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.Table{
  margin-top: 10vh;
  margin-bottom: 20vh;
  margin-right: auto;
  margin-left: auto;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 20px;
} */

/* th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
} */

.tableContainer{
  margin-top: 0;
  margin-bottom: 20vh;
  margin-right: auto;
  margin-left: 20%;
  border-collapse: collapse;
  width: 60%;
}


.soeTable{
  margin-top: 0;
  margin-bottom: 20vh;
  /* margin-right: auto; */
  margin-left: 17%;
  border-collapse: collapse;
  width: 80%;
}
/* .buttonAdd{
  width: "70px";


} */

.viewCommentDiv{
 margin: auto;
  border-collapse: collapse;
  width: 100%;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loginButton{
  letter-spacing: 2px;
  font-weight: 10px;
  border-radius: 10px;
}
.loginButton:hover{
  transition: all 0.1s ease-out;
  transform: scale(1.05);
  background: rgb(197, 231, 243);

}

.listItem{
  color: #fff;
}
.ulSideBar
{
  /* position:absolute;
  top:20px;
  left: 0; */
  width: 100%;
  padding-left: 10px;
  padding-top: 20px;

}
.liSideBar
{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}
.liSideBar {
  position: relative;
  display: block;
  width: 100%;

  text-decoration: none;
  color: #fff;
  display: flex;


}
.liSideBar .iconSideBar
{
  position: relative;
  display: block;
  min-width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2rem;
}
.titleSideBar{
  position: relative;
  display: block;
 
  height: 50px;
  line-height: 50px;

  font-size: 1rem;
}
.liSideBar:hover{
  background-color: #fff;
  color:black;
  transition: all 0.1s ease-out;
  transform: scale(1.05);

}

.userInfo{
  margin-top: -10px;
  width: 100%;
  height: 50px;
  text-align: center;
  
}

/* user image */
.userImage{
  width: 50px;
  height: 50px;
  border-radius: 0;
  
  
align-self: center;
  border-width: 3;
  border-color:  "red";
}
.userImgContainer{
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 40px;
  overflow: hidden;

}

.AddComment{
  width: 400px;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}
.AddProject{
  width: 400px;
  background-color: white;
  padding-left: -40px;
  /* justify-content: center;
  align-items: center;
  display: flex; */
}

.removeUserDiv{
  height: 150px;
text-align: center;
justify-content: center;
padding-top: 20px;
  
}
.removeUserDiv button{
  padding-top: 20px;
}
.removeUserClass{
  
}

.CloseAddProjectPopup{
  position: relative;
  right: -100px;
}

.projectHeading{
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  /* text-align: center; */
  margin-left: 43%;
  margin-right: auto;
}

.loginButton{
  margin-top: 20px;
  height: 50px;
  width: 100px;
  font-size: large;
  letter-spacing: 5px;
}

.addExpenses{
  width: 600px;
  background-color: white;
}